
@use "./variables.scss" as *;

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: $tab-breakpoint) {
      @content;
    }
  }

  @mixin card{
    width: 100%;
    background-color: $background_color_cards;
    margin-bottom: $mobile_between_padding; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 8px; 
    overflow: hidden; 
  }
