// Variables

$font_color:#ffffff;
$secondary_background_color:#ffffff;
$slogan_color: #1a6985;
$background_color: #2187ab ;
$background_color_cards : #2596be;
$backgroun_button: #051e33;

$mobile-breakpoint: 20rem;
$tab-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$mobile_lateral_padding: 1rem;
$tablet_lateral_padding: 2rem;
$desktop_lateral_padding: 3.5rem;
$mobile_between_padding: 1rem;
$tablet_between_padding: 1.5rem;

