// Variables

$background_color: #a8d5e5;
$secondary_background_color:#ffffff;
$slogan_color: #1a6985;

$mobile-breakpoint: 20rem;
$tab-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$main-font-family: "Newsreader Regular";