@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    &__name,
    &__date,
    &__description,
    &__meeting {
      padding-bottom: 5px;
    }
    @include tablet{
      width: 75%;
    }
    @include desktop{
      width: 50%;
    }
  }
  
  .input,
  .textarea {
    margin-bottom: 1rem;
    background-color: #a1d7f0;
    color: #0e485e;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
  }
  
  .input {
    height: 2rem;
  }
  
  .textarea {
    height: 100px;
    vertical-align: top;
  }
