
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.header {
    background-color: $secondary_background_color;
    padding: $mobile_lateral_padding;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    @include tablet {
      padding:0 $tablet_lateral_padding;
      flex-direction: row;
    } 
    @include desktop {
        padding: 0 $desktop_lateral_padding;
        flex-direction: row;
      }
    
    &__logo {
        height: 9rem;
        
        @include tablet {
            padding-right: 2rem;
          }
        @include desktop {
            padding-right: 4rem;
          } 
      }

    &__slogan {
    color: $slogan_color;
    font-family: "Handwritten";
    font-size:1.25rem;
    @include tablet {
        font-size:1.5rem;
      }

    }
     
    }
  
    
  

  