@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.organizer{
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
    }
    &__image{
        width:100%;
        height: auto;
        border-radius: 10%;
        @include tablet{
            width:50%;
        }
    }
}

.organizer-info{    
    display:flex;
    flex-direction: column;
    @include tablet{
        width:50%;
    }
    &__wrapper{
        display:flex;
        justify-content: center;
        align-items: top; 
        @include tablet{
            height:30%;
        }       
    }
    &__wrapper2{
        display:flex;
        font-size: 1.5rem;
        @include tablet{
            padding-left: $tablet_between_padding;
            height:70%;
            
        }
        &--description{
            padding-top: 0;
            font-size: 1.5rem;
            @include tablet{
                font-size: 1.75rem;
                
            }
        }

    }
}

.button-area{
    display: flex;
    justify-content: flex-end;
    &__inquires{
        width: 40%;
    }
   

}
.fields{
   justify-content: center;
}